ADEVICE plughw:1,0
CHANNEL 0
MYCALL KJ5JCO-15
MODEM 1200
IGSERVER noam.aprs2.net
IGLOGIN KJ5JCO YOURPASSCODE
GPSD
PBEACON sendto=IG delay=0:30 every=5:00 symbol=">" comment="Ced Mobile iGate"
AGWPORT 8000
KISSPORT 8001
